.skill {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: #f7e686;

  //   height: 30vh;
  height: 100%;
  padding-top: 5vh;
  padding-bottom: 2vh;
  // width: 80vh;
  align-items: center;
  text-align: center;
  margin: 2rem auto 0 auto;
  font-family: $teja_font;
  .heading {
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 2rem;
    text-decoration: underline;
  }
  &_text {
    font-size: 3rem;
  }
  .skill_item {
    width: 60%;
    margin: 0 auto;
    // margin-left: 45%;
    padding: 0.8rem 1rem 0.5rem 2rem;
    padding-left: 5%;
    text-align: left;
  }
  .text_item {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .other {
    padding-top: 2rem;
    h2 {
      font-size: 2.5rem;
      text-decoration: underline;
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
      width: 50%;
      margin: 0 auto;
      // margin-left: 45%;
      padding: 0.8rem 1rem 0.5rem 2rem;
      padding-left: 5%;
      text-align: left;
    }
  }
}
